*.dSYM
s3_delete
s3_get
s3_put
sqs_example
*.tmp

*.a
*.in
*.o
.deps/*
aclocal.m4
autom4te.cache/*
aws4c_auto_config.h
compile
configure
config.log
config.status
depcomp
install-sh
Makefile
missing
stamp-h1
test-driver
test-suite.log
test_aws

/.svn/
.idea

